body {
    font-family: Arial, sans-serif;
}

   /* Estilos para el formulario */


h2 {
    text-align: center;
}


form {
    width: 300px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

   /* Estilos para la tarjeta */
h3 {
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h3 h2 {
    margin-top: 0;
    color: #333;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}

